#{extends 'main.html' /}
#{set title:'Top Films' /}

#{ifnot topTen} 
	Il n'y a pas de films notés pour l'instant.<br />
#{/ifnot}  
#{else}
	<h1> Les films les mieux notés</h1><br />
	 #{list items:topTen, as:'film'}
            <div class="top">
				<span class="top-film"><span id="Number"> ${film_index}.</span> <a href="@{Application.search(film)}"> ${film}</a> avec une moyenne de ${film.moyenneNote()} /20 </span> 
            </div>
             <br />
        #{/list}
#{/else}
