@import url(style.css);

#login {
    width: 500px;
    margin: 50px auto;
    text-align: center;
}

#login form {
    border: 10px solid #ccc;
    padding: 10px;
    text-align: left;
}

#login form p {
    margin: 3px;
}

#username-field {
    margin-top: 10px !important;
}

#username-field label, #password-field label {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 5px;
    font-size: 15px;
}

#username-field input {
    width: 200px;
    font-size: 13px;
}

#password-field input {
    width: 150px;
    font-size: 13px;
}

#remember-field input {
    margin-left: 155px;
}



#signin-field input {
    margin-left: 155px;
    margin-top: 10px;
}